<%- include('./partials/header') %>

<div class="container-sm text-center">
    <h1>Welcome! Learn more about the TV show, Rick and Morty</h1>
    <img src="/Home.jpg" alt="Image" class="img-fluid mb-3"/>
</div>
<%- include('./partials/footer') %>