body {
    background-image: url("/rickNMortyBackground.PNG");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.characterCard {
    width: 30%;
}

.container-sm {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.navbar-collapse {
    justify-content: flex-end !important;
}

.navbar-nav {
    margin-left: auto;
}